################################################################
# Settings related to extruder
################################################################

[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
gear_ratio:5:1
rotation_distance: 22.77  ;33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: Generic 3950
sensor_pin: EBBCan: PA3
control: pid
pid_Kp: 30.626
pid_Ki: 8.877
pid_Kd: 26.415
min_temp: 0
max_temp: 250
pressure_advance: 0.05

# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.650
stealthchop_threshold: 999999

[heater_fan hotend_fan]
pin: EBBCan: PA0
tachometer_pin: EBBCan: PB15
tachometer_ppr: 2
heater: extruder
heater_temp: 50.0

#[heater_fan 4W_FAN0]
#pin: EBBCan: PB14

